
body,html{
    height: 720px;
	width: 1280px;
	background: linear-gradient(5deg, rgba(2,0,36,1) 0%, rgba(12,12,156,1) 18%, rgba(0,212,255,1) 100%);
	
}

videoContainer{
    margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
video{
    width: 500px;
	height: 375px;
	background-color: #666;
}
.container{
	background-color: #E6E6E6;
	border-radius: 36pc;
	
}
ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	padding-right: 50px;

  }
  
li a {
	display: inline-block;
	align-items: space-between;
	color: black;
	text-align: center;
	padding: 14px 28px;
	text-decoration: none;
  }
  
li a:hover {
	border: white groove;
	border-radius: 30px;
  }

.fitLogo{
	width: 55px;
	position: relative;
	left: 95%;
	display: inline-block;
}

footer {
	width: 1280px;
	bottom:0%;
	position:relative;
	text-align: center;
	align-content: center;
}

.logoInicial{
	margin: auto;
	text-align: center;
	bottom: 80%;

}


footer a {
	color: rgb(216, 199, 199);
	
}

footer ul {
	display: inline-block;
}

table{
	width: 1024px;
	margin-top: 0px;
	height: 500px;
}

div, header, table{
	margin: 0px;
	padding: 0px;
}



td .scroll {
	width: 256px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

td .listaContactos {
	width: 256px;
    height: 100%;

    padding: 0;
    overflow: auto;
}


h2{
	margin: 0;
}
td{
	height:650px;
}



.novo, h3{
	display: inline-block;
	
}

.novo{
	border-color: aliceblue;
	border-radius: 36px;
	border-style: groove;
	padding: 2%;
}

.chamada{
	text-align: center;
	background-color: rgb(14, 32, 72);
	width: 760px;
}

h2{
	color: #21094E;
}

h3{
	color: #C0FEFC;
	font-size: x-large;
}


.listaContactos a{
	text-decoration: none;
	color: #EEEEEE;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 23px;
	margin-right: 0;
}

.functions {
	background-color: rgb(49, 144, 176);
	position: absolute;
	bottom: 0;
	width: 760px;
  }
  
.functions a {
	float: left;
	display: block;
	color: #eeeeee;
	text-align: center;
	padding: 15px 18px;
	text-decoration: none;
	font-size: 17px;
  }

  .functions a:hover {
	background: #b6e6eb;
	color: black;
  }

  #leaveButton{
	float: right;
  }

  div .disable {
	color: currentColor;
	opacity: 0.5;
	text-decoration: none;
  }

  #chat {
	position: absolute;
	background-color: white;
	bottom: 200px;
	left: 435px;
	height: 280px;
	width: 400px;
  }

  #chatBar{
	padding: 10px;
	font-size: 20px;
	text-align: left;
	display: block;
	background-color: rgb(49, 144, 176);
	margin: 0;

  }

  textarea {
	position: absolute;
	bottom: 3px;
	width: 300px;
	height: 30px;
	left: 47px;
	background-color: rgb(255, 255, 255);
  	outline: none;
	border-radius: 10px;
	resize: none;
  }

  button.enviaMensagem{
	border-radius: 25px;
	position: absolute;
	bottom: 6px;
	right: 6px;
	cursor: pointer;
	background-color: rgb(91, 211, 213);
  }

  button.enviaFicheiros{
	border-radius: 25px;
	position: absolute;
	bottom: 6px;
	left: 6px;
	cursor: pointer;
	background-color: rgb(91, 211, 213);
  }

  a.fechaJanela{
	border-radius: 10px;
	position: absolute;
	top: 9px;
	right: 15px;
	cursor: pointer;
  }

  img.enviar{
	max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
	
  }

  img.ficheiros{
	max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
	
  }

  img.fechar{
	max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
	
  }

  div#chatBox {
	width: 350px;
	height: 170px;
	background-color: rgb(244, 248, 246);
	margin-left: 25px;
	text-align: right;
  	flex-direction: column-reverse;
    vertical-align: bottom;
	display: flex;
  }

p.paragrafo{
	align-self: flex-end;
	background-color: #A2D2FF;
	border-style: groove;
	margin: 15px;
	padding: 6px 15px;
	width: max-content;
	border-radius: 36px;
}

#novoGrupo {
	position: absolute;
	background-color: white;
	bottom: 100px;
	left: 435px;
	height: 500px;
	width: 400px;
  }

#novoGrupoBar{
	padding: 10px;
	font-size: 20px;
	text-align: left;
	display: block;
	background-color: rgb(49, 144, 176);
	margin: 0;
}


form{
	text-align: center;
	margin-top: 8%;
}


#conversa{
	position: relative;
	background-color: white;
	margin-top: -6%;
	right: 0px;
	height: 550px;
	width: 1010px;
	
}

.descricaoGrupo{
	position: relative;
	top: -45px;
	margin-bottom: 0;
	right: 0.5%;
	background-color: #516bcc;
	width: 998px;
	padding: 1%;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
	z-index: 1;

}

#caixaConversa{
	width: 96%;
	height: 460px;
	background-color: rgb(244, 248, 246);
	margin-left: 25px;
	text-align: right;
  	flex-direction: column-reverse;
    vertical-align: bottom;
	display: flex;
}

#mensagemConversa{
	position: absolute;
	bottom: 3px;
	width: 880px;
	height: 50px;
	left: 65px;
	background-color: rgb(255, 255, 255);
  	outline: none;
	border-radius: 10px;
	resize: none;
}

.descricaoGrupo button{
	height: 50px;
}


#participantes{
	font-size: larger;
	padding: 0;
	margin: 11px;
    color: #bbb9b9;

}

#nomeGrupo{
	font-size: xx-large;
	padding: 0;
	margin: 12px;
	color: #E6E6E6;


}