body, html{
    height: 768px;
	width: 1024px;
	
}

videoContainer{
    margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
video{
    width: 500px;
	height: 375px;
	background-color: #666;
}
.container{
	background-color: #333;
	
}
ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	padding-right: 50px;

  }
  
li a {
	display: inline-block;
	align-items: space-between;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
li a:hover {
	background-color: #111;
  }

.fitLogo{
	width: 60px;
	float: right
}

footer {
	width: 1024px;
	bottom:0;
	position:absolute;
	text-align: center;
	align-content: center;
}

footer a {
	color: rgb(49, 46, 46);
	
}

footer ul {
	display: inline-block;
}

table{
	width: 1024px;
	margin-top: 0px;
}

div, header, table{
	margin: 0px;
	padding: 0px;
}

#listaContactos {
	width: 250px;
	background-color: chocolate;
}
